<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
    <!-- Bright: Below will increase cache size, so messages like below will not appear in log:
      "org.apache.catalina.webresources.Cache.getResource Unable to add the resource at [/WEB-INF/classes/com/brightit/bitweb/validators] to the cache
      for web application [/magnoliaAuthor] because there was insufficient free space available after evicting expired cache entries - consider
      increasing the maximum size of the cache" -->
    <Resources cachingAllowed="true" cacheMaxSize="100000" />

    <!-- Disable session persistence across Tomcat restarts -->
    <Manager pathname="" />

    <Parameter name="repository-address" value="rmi://${MAIN_IP}:1099/hipporepository" override="false"/>
    <Parameter name="repository-directory" value="${catalina.base}/repository" override="false"/>
    <Parameter name="start-remote-server" value="false" override="false"/>

    <!-- <Parameter name="repository-config" value="file:///path/to/repository.xml" override="false"/> -->
    <Parameter name="repository-config" value="${catalina.base}/conf/repository.xml" override="false"/>

    <Parameter name="check-username" value="" override="false"/>

    <Resource name="mail/Session" auth="Container"
        type="javax.mail.Session" mail.smtp.host="localhost"/>

    <!-- JNDI resource exposing database connection goes here -->
    <Resource
            name="jdbc/repositoryDS" auth="Container" type="javax.sql.DataSource"
            maxTotal="20" maxIdle="10" initialSize="2" maxWaitMillis="10000"
            testWhileIdle="true" testOnBorrow="false" validationQuery="SELECT 1"
            timeBetweenEvictionRunsMillis="10000"
            minEvictableIdleTimeMillis="60000"
            username="cms_user" password="password"
            driverClassName="com.mysql.jdbc.Driver"
            url="jdbc:mysql://${MYSQL_HOST}:3306/bloomreachcms?characterEncoding=utf8&amp;useSSL=false" />

    <Resource name="jdbc/wpmDS" auth="Container" type="javax.sql.DataSource"
          maxTotal="20" maxIdle="10" initialSize="2" maxWaitMillis="10000"
          testWhileIdle="true" testOnBorrow="false" validationQuery="SELECT 1"
          timeBetweenEvictionRunsMillis="10000"
          minEvictableIdleTimeMillis="60000"
          username="wpm_user" password="password"
          driverClassName="com.mysql.jdbc.Driver"
          url="jdbc:mysql://${MYSQL_HOST}:3306/wpm?characterEncoding=utf8&amp;useSSL=false"/>


</Context>
